@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*Headings logo etc.*/
#logo {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #474747;
    text-shadow: 0 0 2px #ffffff;
    float: left;
    font-size: 280%;
}

h1,h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*Header*/
header{
    background-color: #FA80B5;
    background-image: url("/Assets/Images/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
}

/* Nav menu */
/*regular menu*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}
#menu, #logo{
    line-height: 75px;
}
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#menu li {
    margin-right:15px;
    display: inline-block;
}
#menu a{
    text-decoration: none;
    color: #000000;
}
.border:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}

/*Landing Core */
#flexbox{
    display: flex;
}
#about{
    height:100%;
    padding-top: 30px;
}
#about p{
    font-size: 110%;
}
#landingTitle{
    text-align: center;
}
#AboutText{
    flex: 2;
    align-items: center;
    text-align: center;
}
div.kuromi{
    justify-content: center;
    align-content: center;
    display: flex;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    flex: 1;
    height: auto;
    margin-top: 25px; 
}

.kuromi>img {
    object-fit: contain;
    max-height: 600px;
    min-width: 0;
    min-height: 0;
    width: auto;
    height: auto;
}
#KuromiRight, #KuromiLeft{
    margin-left:100px;
    margin-right:100px;
}


/*Latest News*/
#latest-news{
    display: flex;
    flex:1;
}
.twitter-timeline{
    width: 40%;
    margin-left: 30%;
}
#LNews{
    text-align: center;
    justify-content: center;
}
/*footer*/
footer{
    display:flex;
    justify-content: space-evenly;
    height:50px;
    background-color: #474747;
    font-size:200%;
}
footer i{
    color:#FA80B5;
    margin-top: 8px;
}

/*Gallery*/
.imgGallery{
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    gap:10px;
}

.imgGallery > li{
    flex-basis: 350px;
    list-style: none;
    position: relative;
    cursor: pointer;
}

.imgGallery li img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

.imgGallery a{
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.imgGallery::after {
    content: "";
    flex-basis: 350px;
  }

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /*center overlay text*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgGallery li:hover .overlay {
    transform: scale(1);
  }


/*Newsletter*/
#formTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
}
#NewsletterForm{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
#NewsletterForm input{
    width:50%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
}
#NewsletterForm input[type=checkbox]{
    width: auto;
}
#NewsletterForm label{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*Start to scale down our images*/
@media screen and (max-width:1600px){
    div.Kuromi {
        flex: 0.5;
    }
    .Kuromi>img{
        transform: scale(0.7);
        margin: 0;
    }
    #KuromiRight, #KuromiLeft{
        margin:0;
    }
    .twitter-timeline{
        width: 60%;
        margin-left: 20%;
    }
}
/*Size down our logo for medium screen sizes*/
@keyframes logoShrink{
    from{transform: scale(1);}
    to{transform: scale(0.7);}
}
/*Rescale for medium screens*/
@media screen and (max-width:950px){
    #menu{
        clear:left;
        float:left;
        margin-left: 30px;
    }
    #logo{
        animation: logoShrink 1s;
        transform: scale(0.7);
    }
    header{
        background-position: right;
    }
    .Kuromi{
        display: none;
    }
    #landingTitle{
        margin-top: 5%;
    }
    #AboutText{
        width: 100%;
    }
}
/*Rescale for between small and medium*/
@media screen and (max-width: 900px){
    #landingTitle{
        margin-top: 11%;
    }
    .twitter-timeline{
        width: 100%;
        margin:0;
    }
}
/*Rescale for small screens*/
@media screen and (max-width:435px){
    #menu{
        clear:left;
        float:left;
        margin-left: 5px;
    }
    #logo{
        clear:left;
        float:left;
        font-size: 170%;
        margin-left: -30px;
    }
    #landingTitle{
        margin-top: 11%;
    }
}
/*Rescale for even smaller screens*/
@media screen and (max-width:320px){
    #menu{
        clear:left;
        float:left;
        margin-left: 5px;
    }
    #logo{
        clear:left;
        float:left;
        font-size: 175%;
    }
}